summarizer.json
{
  "name": "summarizer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b7537836-8f84-4bcc-b3b3-c4335ffb8c5b",
      "name": "When chat message received",
      "webhookId": "59d3465b-8cf2-4da1-b8fd-be551ac062cc"
    },
    {
      "parameters": {
        "url": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "4964e1b9-80f3-475c-b6f4-c27a7a4a8d6f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $json[\"data\"];\n\n// Remove scripts, styles, and HTML tags\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Shorten if too long (some summarizers limit input size)\nconst shortened = text.slice(0, 4000);\n\nreturn [{ articleText: shortened }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "f310e6da-d48b-4cd9-b9e4-d214627258aa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        208
      ],
      "id": "03aa76a4-a072-4514-a7f7-f42249ce6c01",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QKNJjsYVrMVeq7Ld",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this article in 5 bullet points:\n{{ $json.articleText }}\nadd append this into notion page."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "473d7b05-21e4-4c69-95d4-80c1091946fe",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "QKNJjsYVrMVeq7Ld",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/Article-Summarizer-29d64610fc5380709d90f07320612e46?showMoveTo=true&saveParent=true",
          "mode": "url"
        },
        "title": "=summary\n\n",
        "blockUi": {
          "blockValues": [
            {
              "type": "={{ $('Code in JavaScript').item.json.articleText }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        880,
        224
      ],
      "id": "2b2bad44-7cad-4dc5-b87c-b18e4348ca60",
      "name": "Create a page in Notion",
      "credentials": {
        "notionApi": {
          "id": "lp2gS28XzBW3LhGL",
          "name": "Notion account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a page in Notion": {
      "ai_tool": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2c17216-4b23-479b-9cac-394f23507476",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07578ee88341e3632e39fbc25528801ef3d0391366df25534b62ad193e36bc81"
  },
  "id": "QIEIxbT7bBXDdywy",
  "tags": []
}